fastapi==0.95.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
pandas==2.1.0
jupyter-dash==0.4.2
numpy==1.25.0
torch==2.0.1
sentence-transformers==3.2.1
geopy==2.4.1
geocoder==1.38.1
fast_dash==0.2.9
dash-bootstrap-components==1.6.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-table==5.0.0
pandas-datareader==0.10.0
pandas-gbq==0.24.0
pandas-stubs==2.2.2.240909
uvicorn==0.22.0
jupyter==1.0.0
notebook==6.5.4