python==3.11
fastapi==0.95.1
uvicorn==0.22.0
dash==2.18.2
fast-dash==0.2.9
pandas==2.0.1
jupyter-dash==0.4.2
torch==2.5.1
sentence-transformers==3.3.1
geopy==2.4.1
geocoder==1.38.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.1
dash-table==5.0.0
numpy==1.25.0
plotly==5.24.1
scikit-learn==1.5.2
scipy==1.14.1
matplotlib==3.7.1